    /* Bebas Neue: Header */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); 
    
    /* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    max-width: 1600px;
    display: block;
    margin: 0 auto;
}

.home-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
}

.msg h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
}

.msg {
    line-height: 1.5em;
}

.book, .join {
    font-size: 18px;
}

.msg p {
    font-size: .8em;
}

body {
    margin: 0;
    padding: 0;
}

h2 {
    padding: 0;
    margin: 0;
}

nav a{
    text-align: center;
    text-decoration: none;
    color: white;
}

nav a:hover{
    background-color: darkslategray; opacity: 35%;
}

#hero {
    text-align: center;
}

#hero-img {
    display: block;
    margin: 0 auto;
    padding-top: 3%;
    width: 80%
}

main {
    text-align: center;
}

.card-img {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mountains {
    padding-bottom: 15px;
}

footer p{
    font-size: 1.4em;
}   

body{background: aqua;}
header{background-color: steelblue; margin-top: 3%;}
nav a:hover {background-color: steelblue;}
.join {background-color: steelblue;}
.join:hover {background-color: gray; opacity: 75%;}
.msg {background-color: aqua;}
footer {background-color: steelblue; text-decoration: none;}
.mountains{background-color: aqua;}
.rapids-card{background-color: aqua;
    display: block;
    margin: 0 auto;}
.social-media:hover {background-color: steelblue; opacity: 75%;}
.icon {width: 80px;}






/* 

nav {
    border: 2px solid blue;
}

#hero {
    border: 2px solid red;
    margin: 0 auto;
    text-align: center;
}

main {
    border: 3px solid green;
    margin: 0 auto;
    text-align: center;
}

.main_card {
    border: 2px solid pink;
    display: block;
    margin: 0 auto;
}

footer {
    position: absolute;
    left: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
} */