#entire_page {
    max-width: 1600px;
    display: block;
    margin: 0 auto;
}

nav a{
    text-align: center;
    text-decoration: none;
    color: white;
}
nav a:hover{
    background-color: darkslategray; opacity: 35%;
}
footer p{
    font-size: 1.4em;
}
#hero_img {
    display: block;
    margin: 0 auto;
    padding-top: 3%;
    width: 80%
}

#hero_msg h1{
    text-align: center;
}
#hero_msg h4{
    text-align: center; 
}

.button_box {
    text-align: center;
}

main section {
    text-align: center;
}

#background{
    height: 725px;
}
body{background: aqua;}
header{background-color: steelblue; margin-top: 3%;}
nav a:hover {background-color: steelblue;}
.join {background-color: steelblue;}
.join:hover {background-color: gray; opacity: 75%;}
#background {background-color: lightblue;}
.msg {background-color: aqua;}
footer {background-color: steelblue; text-decoration: none;}
.mountains{background-color: aqua;}
#rapids_card{background-color: aqua;
    display: block;
    margin: 0 auto;}
.social-media:hover {background-color: steelblue; opacity: 75%;}
.icon {width: 80px;}