nav, footer {
    background-color: steelblue;
    text-align: center;
    padding: 10px;
}

footer p {
    font-size: 15px;
    margin: 20px auto;
}

a:hover {
    background-color: white;
    color: steelblue;
}

img {
    margin: 0 auto;
    width: 80%;
    display: block;
}

p {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    
}