body 
{
    background-color: pink;
    text-align: center;
    font-size: 18px;
    color: white;
}

#Edu {
    font-size: 3em;
}

ol 
{
    color: black;  
    padding-inline-start: 32px;
}

img
{
    width: 30%;
}

footer
{
    width: 20%;
    margin: 0 auto;
    text-align: center;
    color: black;
}

#BcOf 
{
    font-size: 3em;
    margin-left: 28%;
    margin-right: 28%;
}

ol:hover
{
    background-color: yellow;
}